<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="aihexa.mm">
    <!--权限-->
    <!--    wx-share-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />


    <!--    pay config ###############begin-->
    <!--    ali-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--    wx-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!--    pay config ###############end-->

    <!--    livepush-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.Camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@drawable/icon3"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true">
        <!--        启动屏-->
        <activity
            android:name="io.dcloud.PandoraEntry"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="user"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--        内容-->
        <activity
            android:name="io.dcloud.PandoraEntryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc|fontScale|keyboard|smallestScreenSize|screenLayout|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:permission="com.miui.securitycenter.permission.AppPermissionsEditor"
            android:screenOrientation="user"
            android:theme="@style/DCloudTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="h56131bcf" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="dcloud_appkey"
            android:value="f1e374f0145377fee0a0ea2a020a9db8" />


        <!-- 微信分享 配置begin -->
<!--        <meta-data-->
<!--            android:name="WX_APPID"-->
<!--            android:value="%微信开放平台申请应用的AppID%"></meta-data>-->
<!--        <meta-data-->
<!--            android:name="WX_SECRET"-->
<!--            android:value="%微信开放平台申请应用的Secret%"></meta-data>-->

<!--        <activity-->
<!--            android:name="aihexa.mm.wxapi.WXEntryActivity"-->
<!--            android:exported="true"-->
<!--            android:label="@string/app_name"-->
<!--            android:launchMode="singleTop">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <data android:scheme="wxa139c788783d2a4b" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <!-- 微信分享 配置 end -->


        <!--        微信支付 配置 begin-->
        <meta-data
            android:name="WX_APPID"
            android:value="wxa139c788783d2a4b" />

        <activity
            android:name="io.dcloud.feature.payment.weixin.WXPayProcessMeadiatorActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/ProjectDialogTheme"></activity>
        <activity
            android:name="aihexa.mm.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--微信支付 配置end-->

    </application>

</manifest>